.searchContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
}

.searchButton {
    position: absolute;
    color: black;
    right: 8px;
    top: 0;
    height: 100%;
    border: none;
    background: none;
}

.searchInput {
    background-color: black;
    height: 28px;
    color: gray;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid grey;
    border-top: 1px solid red;
}

.searchInput:focus {
    background-color: white;
    outline-style: none;
}